src/main/resources/authz-api.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xacml="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17" xmlns:az="http://authzforce.github.io/rest-api-model/xmlns/authz/5" xmlns:atom="http://www.w3.org/2005/Atom" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd ">
	<wadl:doc xml:lang="EN">
		RESTful API of Authorization Service v${project.version}
	</wadl:doc>
	<wadl:grammars>
		<wadl:include href="atom.xsd" />
		<wadl:include href="xacml-core-v3-schema-wd-17.xsd" />
		<wadl:include href="xsd/authz-rest-api.xsd" />
	</wadl:grammars>
	<wadl:resources base="http://localhost/authz-${project.version}">
		<wadl:resource path="domains" id="domainsResource">
			<wadl:doc>End-User Policy Domains to be managed by the policy administrators of the
				end-user/client organizations
			</wadl:doc>
			<wadl:method name="POST" id="addDomain">
				<wadl:doc>Create managed resource for the administration domain</wadl:doc>
				<wadl:request>
					<wadl:representation mediaType="application/fastinfoset" element="az:domainProperties">
						<wadl:doc>
							New domain properties. A default root policy is automatically created for the domain and a corresponding rootPolicyRef set by the Service Provider of this API (see resource 'pdpPropertiesResource').
						</wadl:doc>
					</wadl:representation>
					<wadl:representation mediaType="application/xml" element="az:domainProperties">
						<wadl:doc>
							New domain properties. A default root policy is automatically created for the domain and a corresponding rootPolicyRef set by the Service Provider of this API (see resource 'pdpPropertiesResource').
						</wadl:doc>
					</wadl:representation>
				</wadl:request>
				<wadl:response status="200">
					<wadl:representation mediaType="application/fastinfoset" element="atom:link">
						<wadl:doc>Link to created domain resource</wadl:doc>
					</wadl:representation>
					<wadl:representation mediaType="application/xml" element="atom:link">
						<wadl:doc>Link to created domain resource</wadl:doc>
					</wadl:representation>
				</wadl:response>
				<wadl:response status="400" />
				<wadl:response status="401" />
				<wadl:response status="403" />
				<wadl:response status="409">
					<wadl:doc>Name conflict</wadl:doc>
				</wadl:response>
			</wadl:method>
			<wadl:method name="GET" id="getDomains">
				<wadl:request>
					<wadl:param name="externalId" style="query" type="xs:NMTOKEN" required="false">
						<wadl:doc>If specified, only the domain with matching externalId is returned, or none if no match.</wadl:doc>
					</wadl:param>
				</wadl:request>
				<wadl:response status="200">
					<wadl:representation mediaType="application/fastinfoset" element="az:resources" />
					<wadl:representation mediaType="application/xml" element="az:resources" />
				</wadl:response>
				<wadl:response status="401" />
				<wadl:response status="403" />
			</wadl:method>
			<wadl:resource id="domainResource" path="{domainId}">
				<wadl:doc>End-User Policy Domain, to be managed by a policy administrator of the
					end-user/client
					organization
				</wadl:doc>
				<wadl:param name="domainId" style="template" type="xs:NMTOKEN" required="true" />
				<wadl:method name="GET" id="getDomain">
					<wadl:request />
					<wadl:response status="200">
						<wadl:representation mediaType="application/fastinfoset" element="az:domain" />
						<wadl:representation mediaType="application/xml" element="az:domain" />
					</wadl:response>
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:method name="DELETE" id="deleteDomain">
					<wadl:request />
					<wadl:response status="200">
						<wadl:representation mediaType="application/fastinfoset" element="az:domainProperties">
							<wadl:doc>Deleted policy domain properties</wadl:doc>
						</wadl:representation>
						<wadl:representation mediaType="application/xml" element="az:domainProperties">
							<wadl:doc>Deleted policy domain properties</wadl:doc>
						</wadl:representation>
					</wadl:response>
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:resource id="domainPropertiesResource" path="properties">
					<wadl:method name="GET" id="getDomainProperties">
						<wadl:request />
						<wadl:response status="200">
							<wadl:representation mediaType="application/fastinfoset" element="az:domainProperties" />
							<wadl:representation mediaType="application/xml" element="az:domainProperties" />
						</wadl:response>
						<wadl:response status="401" />
						<wadl:response status="403" />
						<wadl:response status="404" />
					</wadl:method>
					<wadl:method name="PUT" id="updateDomainProperties">
						<wadl:doc>Update policy domain properties</wadl:doc>
						<wadl:request>
							<wadl:representation mediaType="application/fastinfoset" element="az:domainProperties" />
							<wadl:representation mediaType="application/xml" element="az:domainProperties" />
						</wadl:request>
						<wadl:response status="200">
							<wadl:representation mediaType="application/fastinfoset" element="az:domainProperties" />
							<wadl:representation mediaType="application/xml" element="az:domainProperties" />
						</wadl:response>
						<wadl:response status="400" />
						<wadl:response status="401" />
						<wadl:response status="403" />
						<wadl:response status="404" />
					</wadl:method>
				</wadl:resource>
				<wadl:resource id="papResource" path="pap">
					<wadl:doc>XACML Policy Administration Point</wadl:doc>
					<wadl:method name="GET" id="getPAP">
						<wadl:request />
						<wadl:response status="200">
							<wadl:representation mediaType="application/fastinfoset" element="az:resourceContent" />
							<wadl:representation mediaType="application/xml" element="az:resourceContent" />
						</wadl:response>
						<wadl:response status="401" />
						<wadl:response status="404" />
						<wadl:response status="403" />
					</wadl:method>
					<wadl:resource id="pdpPropertiesResource" path="properties">
						<wadl:doc>Miscellaneous PDP properties, including the root policy reference</wadl:doc>
						<wadl:method name="PUT" id="updateOtherPdpProperties">
							<wadl:doc>Update miscellaneous PDP properties</wadl:doc>
							<wadl:request>
								<wadl:representation mediaType="application/fastinfoset" element="az:pdpPropertiesUpdate" />
								<wadl:representation mediaType="application/xml" element="az:pdpPropertiesUpdate" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/fastinfoset" element="az:pdpProperties" />
								<wadl:representation mediaType="application/xml" element="az:pdpProperties" />
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
							<wadl:response status="404" />
						</wadl:method>
						<wadl:method name="GET" id="getOtherPdpProperties">
							<wadl:doc>Get miscellaneous PDP properties, not only writable (root policy reference) but also read-only status such as time of last modification, currently active policies, etc.</wadl:doc>
							<wadl:request />
							<wadl:response status="200">
								<wadl:representation mediaType="application/fastinfoset" element="az:pdpProperties" />
								<wadl:representation mediaType="application/xml" element="az:pdpProperties" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
							<wadl:response status="404" />
						</wadl:method>
					</wadl:resource>
					<wadl:resource id="policiesResource" path="policies">
						<wadl:doc>Policy resources</wadl:doc>
						<wadl:method name="POST" id="addPolicy">
							<wadl:doc>Add policy to the domain</wadl:doc>
							<wadl:request>
								<wadl:representation mediaType="application/fastinfoset" element="xacml:PolicySet" />
								<wadl:representation mediaType="application/xml" element="xacml:PolicySet" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/fastinfoset" element="atom:link">
									<wadl:doc>Link to created managed Policy resource</wadl:doc>
								</wadl:representation>
								<wadl:representation mediaType="application/xml" element="atom:link">
									<wadl:doc>Link to created managed Policy resource</wadl:doc>
								</wadl:representation>
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
							<wadl:response status="404" />
							<wadl:response status="409">
								<wadl:doc>Policy ID/Version conflict</wadl:doc>
							</wadl:response>
						</wadl:method>
						<wadl:method name="GET" id="getPolicies">
							<wadl:doc>Get policies.</wadl:doc>
							<wadl:request />
							<wadl:response status="200">
								<wadl:representation mediaType="application/fastinfoset" element="az:resources" />
								<wadl:representation mediaType="application/xml" element="az:resources" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
							<wadl:response status="404" />
						</wadl:method>
						<wadl:resource id="policyResource" path="{policyId}">
							<wadl:doc>Policy resource</wadl:doc>
							<wadl:param name="policyId" style="template" type="xs:anyURI" required="true">
								<wadl:doc>Policy ID.</wadl:doc>
							</wadl:param>
							<wadl:method name="GET" id="getPolicyVersions">
								<wadl:doc>Get policy versions.</wadl:doc>
								<wadl:request />
								<wadl:response status="200">
									<wadl:representation mediaType="application/fastinfoset" element="az:resources" />
									<wadl:representation mediaType="application/xml" element="az:resources" />
								</wadl:response>
								<wadl:response status="401" />
								<wadl:response status="403" />
								<wadl:response status="404" />
							</wadl:method>
							<wadl:method name="DELETE" id="deletePolicy">
								<wadl:doc>Delete policy (all versions)</wadl:doc>
								<wadl:request />
								<wadl:response status="200">
									<wadl:representation mediaType="application/fastinfoset" element="az:resources">
										<wadl:doc>Deleted policy versions</wadl:doc>
									</wadl:representation>
									<wadl:representation mediaType="application/xml" element="az:resources">
										<wadl:doc>Deleted policy versions</wadl:doc>
									</wadl:representation>
								</wadl:response>
								<wadl:response status="401" />
								<wadl:response status="403" />
								<wadl:response status="404" />
							</wadl:method>
							<wadl:resource id="policyVersionResource" path="{version}">
								<wadl:doc>Policy version resource</wadl:doc>
								<wadl:param name="version" style="template" type="az:VersionId" required="true">
									<wadl:doc>Policy version: either a number sequence (XACML Version) or string "latest" to refer to the latest version of the policy.</wadl:doc>
								</wadl:param>
								<wadl:method name="GET" id="getPolicyVersion">
									<wadl:doc>Get policy version</wadl:doc>
									<wadl:request />
									<wadl:response status="200">
										<wadl:representation mediaType="application/fastinfoset" element="xacml:PolicySet" />
										<wadl:representation mediaType="application/xml" element="xacml:PolicySet" />
									</wadl:response>
									<wadl:response status="401" />
									<wadl:response status="403" />
									<wadl:response status="404" />
								</wadl:method>
								<wadl:method name="DELETE" id="deletePolicyVersion">
									<wadl:doc>Delete policy version. If this the last remaining version, then this has the same effect as method 'deletePolicy'.</wadl:doc>
									<wadl:request />
									<wadl:response status="200">
										<wadl:representation mediaType="application/fastinfoset" element="xacml:PolicySet">
											<wadl:doc>Deleted policy version</wadl:doc>
										</wadl:representation>
										<wadl:representation mediaType="application/xml" element="xacml:PolicySet">
											<wadl:doc>Deleted policy version</wadl:doc>
										</wadl:representation>
									</wadl:response>
									<wadl:response status="401" />
									<wadl:response status="403" />
									<wadl:response status="404" />
								</wadl:method>
							</wadl:resource>
						</wadl:resource>
					</wadl:resource>
					<wadl:resource id="attributeProvidersResource" path="attributeProviders">
						<wadl:doc>Attribute Providers to be used by the PDP for getting attributes defined in policies
							that
							may not be provided by the PEP (in the XACML request).
						</wadl:doc>
						<wadl:method name="GET" id="getAttributeProviderList">
							<wadl:request />
							<wadl:response status="200">
								<wadl:representation mediaType="application/fastinfoset" element="az:attributeProviders" />
								<wadl:representation mediaType="application/xml" element="az:attributeProviders" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
							<wadl:response status="404" />
						</wadl:method>
						<wadl:method name="PUT" id="updateAttributeProviderList">
							<wadl:request>
								<wadl:representation mediaType="application/fastinfoset" element="az:attributeProviders" />
								<wadl:representation mediaType="application/xml" element="az:attributeProviders" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/fastinfoset" element="az:attributeProviders" />
								<wadl:representation mediaType="application/xml" element="az:attributeProviders" />
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
							<wadl:response status="404" />
						</wadl:method>
					</wadl:resource>
				</wadl:resource>
				<wadl:resource id="pdpResource" path="pdp">
					<wadl:doc>XACML Policy Decision Point</wadl:doc>
					<wadl:method name="POST" id="requestPolicyDecision">
						<wadl:request>
							<wadl:representation mediaType="application/fastinfoset" element="xacml:Request" />
							<wadl:representation mediaType="application/xml" element="xacml:Request" />
						</wadl:request>
						<wadl:response status="200">
							<wadl:representation mediaType="application/fastinfoset" element="xacml:Response" />
							<wadl:representation mediaType="application/xml" element="xacml:Response" />
						</wadl:response>
						<wadl:response status="400" />
						<wadl:response status="401" />
						<wadl:response status="403" />
						<wadl:response status="404" />
					</wadl:method>
				</wadl:resource>
			</wadl:resource>
		</wadl:resource>
	</wadl:resources>
</wadl:application>
