src/main/resources/authz-api.wadl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wadl.xsl"?>
<wadl:application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xacml="urn:oasis:names:tc:xacml:3.0:core:schema:wd-17"
	xmlns:taz="http://thalesgroup.com/authz/model/3.0" xmlns:taz-res="http://thalesgroup.com/authz/model/3.0/resource"
	xmlns:atom="http://www.w3.org/2005/Atom" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd ">
	<wadl:doc xml:lang="EN">
		RESTful API of Authorization Service v${project.version}
	</wadl:doc>
	<wadl:grammars>
		<wadl:include href="atom.xsd" />
		<wadl:include href="xacml-core-v3-schema-wd-17.xsd" />
		<wadl:include href="xsd/authz-api-resource.xsd" />
		<wadl:include href="xsd/authz-api.xsd" />
	</wadl:grammars>
	<wadl:resources base="http://localhost/authz-${project.version}">
		<wadl:resource path="domains" id="endUserDomainSet">
			<wadl:doc>End-User Policy Domains to be managed by the policy administrators of the
				end-user/client organizations
			</wadl:doc>
			<wadl:method name="POST" id="addDomain">
				<wadl:doc>Create managed resource for the administration domain</wadl:doc>
				<wadl:request>
					<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties" />
				</wadl:request>
				<wadl:response status="200">
					<wadl:representation mediaType="application/xml" element="atom:link">
						<wadl:doc>Link to created managed resource</wadl:doc>
					</wadl:representation>
				</wadl:response>
				<wadl:response status="400" />
				<wadl:response status="401" />
				<wadl:response status="403" />
				<wadl:response status="409">
					<wadl:doc>Name conflict</wadl:doc>
				</wadl:response>
			</wadl:method>
			<wadl:method name="GET" id="getDomains">
				<wadl:request />
				<wadl:response status="200">
					<wadl:representation mediaType="application/xml" element="taz-res:resources" />
				</wadl:response>
				<wadl:response status="401" />
				<wadl:response status="403" />
			</wadl:method>
			<wadl:resource id="endUserDomain" path="{domainId}">
				<wadl:doc>End-User Policy Domain, to be managed by a policy administrator of the
					end-user/client
					organization
				</wadl:doc>
				<wadl:param name="domainId" style="template" type="taz:UUID" required="true" />
				<wadl:method name="PUT" id="updateDomain">
					<wadl:doc>Update policy domain properties</wadl:doc>
					<wadl:request>
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties" />
					</wadl:request>
					<wadl:response status="200">
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties" />
					</wadl:response>
					<wadl:response status="400" />
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:method name="GET" id="getDomain">
					<wadl:request />
					<wadl:response status="200">
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz:domain" />
					</wadl:response>
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:method name="DELETE" id="deleteDomain">
					<wadl:request />
					<wadl:response status="200">
						<wadl:representation mediaType="application/xml; charset=UTF-8" element="taz-res:properties">
							<wadl:doc>Deleted policy domain properties</wadl:doc>
						</wadl:representation>
					</wadl:response>
					<wadl:response status="401" />
					<wadl:response status="403" />
					<wadl:response status="404" />
				</wadl:method>
				<wadl:resource path="pap" id="pap">
					<wadl:doc>XACML Policy Administration Point</wadl:doc>
					<wadl:method name="GET" id="getPAP">
						<wadl:request />
						<wadl:response status="200">
							<wadl:representation mediaType="application/xml" element="taz-res:resources" />
						</wadl:response>
						<wadl:response status="401" />
						<wadl:response status="403" />
					</wadl:method>
					<wadl:resource path="policySet" id="policySetResource">
						<wadl:doc>XACML PolicySet</wadl:doc>
						<wadl:method name="GET" id="getPolicySet">
							<wadl:request />
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="xacml:PolicySet" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
						<wadl:method name="PUT" id="updatePolicySet">
							<wadl:request>
								<wadl:representation mediaType="application/xml" element="xacml:PolicySet" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="xacml:PolicySet" />
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
					</wadl:resource>
					<wadl:resource path="refPolicySets" id="refPolicySetList">
						<wadl:doc>XACML PolicySets that are valid references in &lt;PolicySetIdReference&gt;s
						</wadl:doc>
						<wadl:method name="GET" id="getRefPolicySets">
							<wadl:request />
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="taz:policySets" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
						<wadl:method name="PUT" id="updateRefPolicySets">
							<wadl:request>
								<wadl:representation mediaType="application/xml" element="taz:policySets" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="taz:policySets" />
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
					</wadl:resource>
					<wadl:resource path="attributeFinders" id="attributeFinderList">
						<wadl:doc>Attribute Finders to be used by the PDP for finding attributes defined in policies
							that
							may not be provided by the PEP (in the XACML request).
						</wadl:doc>
						<wadl:method name="GET" id="getAttributeFinders">
							<wadl:request />
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="taz:attributeFinders" />
							</wadl:response>
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
						<wadl:method name="PUT" id="updateAttributeFinders">
							<wadl:request>
								<wadl:representation mediaType="application/xml" element="taz:attributeFinders" />
							</wadl:request>
							<wadl:response status="200">
								<wadl:representation mediaType="application/xml" element="taz:attributeFinders" />
							</wadl:response>
							<wadl:response status="400" />
							<wadl:response status="401" />
							<wadl:response status="403" />
						</wadl:method>
					</wadl:resource>
				</wadl:resource>
				<wadl:resource path="pdp" id="pdp">
					<wadl:doc>XACML Policy Decision Point</wadl:doc>
					<wadl:method name="POST" id="requestPolicyDecision">
						<wadl:request>
							<wadl:representation mediaType="application/xml" element="xacml:Request" />
							<wadl:representation mediaType="text/xml" element="xacml:Request" />
						</wadl:request>
						<wadl:response status="200">
							<wadl:representation mediaType="application/xml" element="xacml:Response" />
						</wadl:response>
						<wadl:response status="400" />
						<wadl:response status="401" />
						<wadl:response status="403" />
					</wadl:method>
				</wadl:resource>
			</wadl:resource>
		</wadl:resource>
	</wadl:resources>
</wadl:application>
